.contact-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    input::placeholder{
        color: #888888;
    }

    textarea::placeholder{
        color: #888888;
    }
}