.menu{
    color: white;
    ul{
        list-style: none;
        display: flex;
        color: white;

        .link{
            color: white;
            text-decoration: none;
        }
    }
}

@media screen and (max-width: 576px) {
    .menu{
        display: none;
    }
}